[2021-09-09 13:11] rguliev opened #7 "Import questionnaire description from `.xml` file"
Write a helper function, that will read an `.xml` file with a questionnaire description.
Function interface:

[code]

NOTE: It is might be better to use `DataFrame`s for "sections" and "questions".

[2021-09-09 13:22] rguliev opened #8 "Design a typical workflow"
It is important to design a typical workflow, so we better coordinate our actions.
In the comments everyone is welcome to provide his/her vision on that.

[2021-09-10 09:29] lheckmann opened #9 "Basic bar plot"
Produce basic bar plots:
![B8b_holidays_taken](https://user-images.githubusercontent.com/74262873/136375949-7f319994-92fb-40b0-8a79-ddcef7db085c.png)

Make a function that produces the bar plot for all simple question types (single choice).

What should be adjustable:

- [x] Color Scheme (with a default value that can be set in a header file)
- [x] Displaying or hiding the question title
- [x] Fig

[2021-09-10 09:29] lheckmann opened #10 "Simple comparison plots"
Produce comparison plots between two questions
![A3_gender](https://user-images.githubusercontent.com/74262873/136376726-43bc15cc-fbee-4eda-8d24-3172ec47883a.png)

- [x] Make a function that produces the comparison plot between simple question types (single choice).

What should be adjustable:
- [x] Color Scheme (with a default value that can be set in a header file)
- [x] Displaying or hiding the

[2021-09-10 09:30] lheckmann opened #11 "Likert Scale Plots (array question)"
Produces likert figures for the questions with scales used for answers.

![C1_satisfaction_factors_all](https://user-images.githubusercontent.com/74262873/136377397-94f6e368-bb41-41e8-9c1d-f142fe4283b8.png)

Make a function that produces the likert plots for all questions with scales as answers

What should be adjustable:

- [ ] Color Scheme (with a default value that can be set in a header file)

[2021-09-14 09:33] fudw commented on #8
Hi all,

Apology in advance if this sounds dumb as I have zero experience and don't fully understand everything in your discussion above. Would it make sense to divide the the raw data csv into individual dataframes, one for each question? Then each one can be given an attribute indicating what type of question it is, which also determines which type of processing the data should undergo. By quest

[2021-09-14 13:21] rguliev commented on #8
Hi @fudw

This is makes perfect sense. I would say we are thinking in the same direction.
The only nuance is the technical implementation. In order to do what you described, you do not need separate DataFrames. We will parse a survey structure from the XML file, and then, knowing the structure, we can decide on the type of the question and on the default plot for it. Having survey as a class allow

[2021-09-14 13:51] fudw commented on #8
@rguliev

Thanks for the clarification. If I understood correctly, the idea is to have a "survey" class containing information about all the questions in the entire questionnaire extracted from the XML file. Then, a class method to fetch and process the data from the csv/dataframe of all the responses to one specific question depending on the type of the question. And finally a function makes the

[2021-09-14 17:46] rguliev commented on #8
Yeah, mostly. The only thing that I would clarify, is that we can load whole csv file. It does not have to be question by question. That is what I meant by:

[code]

[2021-09-14 20:23] Cheedge commented on #7
Hi Rustam,
I try to push a script of pre-process of the xml data, but there is something wrong with it. I'm not sure, but there maybe some problems with the permission, I push to remote it gives the "ERROR: Permission to N2-Survey/SurveyFramework.git denied to Cheedge. fatal: Could not read from remote repository." I don't know what's wrong...
For the script, there are some changes.  In the discri

[2021-09-14 21:32] fudw commented on #7
Was also working on an attempt myself because I thought this issue had no assignee. Found a module called "xmltodict" which parses the xml directly into an ordered dictionary with all the attributes as dict items and sections and questions as nested OrderedDict themselves. My script is not finished yet but if Qizhi's solution works then I'd happily move on :)

[2021-09-14 23:14] Cheedge commented on #8
Hi guys,

1, agree with you all.
2, agree with Rustan, we don't go deep into implematation. Also, in my opinion the data is really clean. So it is really convinient to read directly by pandas lib. And therefore, it may be better to clearify what we want to do about the "pre-processing". I agree with above talks, the next steps data user should set the standard about what data they prefer to have d

[2021-09-14 23:22] annaki2021 commented on #8
I believe, the problem with the "Other" options is, that we tend not to analyse them (too less manpower), but we give them for completion. Would it be possible to read this information in as differnt questions? So, onece the original question with just the option other and once as separate piece of information containing only the information to this option becuase participants can specify their an

[2021-09-15 11:06] Cheedge commented on #7
Sorry, at that time I am not sure how to assign the issue to me.

[2021-09-15 11:06] Cheedge commented on #8
Ok, if I understand correctly, you mean make the "other" option both as a choice item under the question, and also list it out as a saperated question. it seems like a good solution, I will change the script later.

[2021-09-15 13:03] rguliev commented on #7
Hi @Cheedge and @fudw .

General recommendations:
1. I am sorry that you both started to work on the same issue. As it was mentioned, please make sure that the issue is assigned to you. If have any problems with putting your self as an assignee you can always write a comment to the issue.
2. To save your time, it is better to discuss an issue and agree on an implementation *before* coding.

@fudw

[2021-09-15 14:03] Cheedge commented on #7
Thanks @rguliev , I have automated test it, but without the flake8, because to deal with the flake8 error C901, which ask me to rewrite some of the "for loop" and "if else" conditions to make it more simpler. I can make more some simlification, but I think it is enough. If not, I will re-construct it.
And as to the output result after the process, refer to what @annaki2021 suggested in issue#8, it

[2021-09-15 15:35] rguliev commented on #8
Thank for your comments.
I would suggest to keep discussion specific to the topic. This issue meant to be about a general interface for a user for a typical workflow. Which supposed to help to understand how should we organize our classes, methods, etc.

The issue of "other" answers deserves a separate issue. We will come eventually to it :)

[2021-09-15 15:41] rguliev commented on #7
@Cheedge Since you started working on this issue, can I ask you one thing?

The lime survey has a publicly available online demo [here](https://demo.limesurvey.org/index.php?r=admin). Could you create a dummy survey containing all types of questions and export it as XML? We will use it do decide what output we expect in which case and we can also use it for automated tests. So, is it fine for you?

[2021-09-15 22:25] Cheedge commented on #7
sure, I will do it later.

[2021-09-16 07:45] rguliev commented on #7
Thanks!

Yes, that is what I mean:) `survey_structure.xml` has an example questionnaire, i.e. other groups (or other years) can have slightly different questionnaire structures. So, to make sure that the function will be stable from year to year and from group to group, we need to cover all<sup>1</sup> types of question that Lime provides.

<sup>1</sup> Almost all:) I think some type of questions,

[2021-09-16 10:27] Cheedge commented on #7
ye, I'd like to, but except the question the 'survey_structure.xml' list, I'm not sure what other type of questions should be like, so I think if we want to get all types of questions, we'd better to talk with the question designers first. what do you think?

[2021-09-16 13:52] rguliev commented on #7
Discussed on the meeting. We just use dummy questions and options like "This is dummy test 5 options array question", "Option 1", "Option 2", ...

[2021-09-16 13:54] rguliev commented on #7
Here are examples that we discussed on the meeting:

[code]

[2021-09-16 23:43] Cheedge commented on #7
Hi @rguliev ,
Sorry, I think I have pull request in #13  three times, as the first two times I don't use the pre-commit to check the formats. The last time's pull request was already checked by pre-commit and it passed all the checks (autoflake, isort, black, flake8).
And this time I have extract all the questions out, as:
![Screenshot_2021-09-17_00-42-26](https://user-images.githubusercontent.com

[2021-09-16 23:45] Cheedge commented on #7
b.t.w can you tell me if I have pull request many times, how can I retrieve the previous pull requests? thank you.

[2021-09-18 13:51] rguliev commented on #7
Hi @Cheedge,

In general, looks very good :+1: . The implementation details we can discuss in the PR.
I can see only one PR, so it is fine :)

[2021-09-19 10:54] Cheedge commented on #7
Hi @rguliev ,
Thank you very much. One thing to applogize is about making the n2 survey example xml file, as I was still not familiar with the limeSurvey, and Nex Wensday I have a talk. so during these time I think I will not do it. But from Thursday, I can start to make limeSurvey example again. Excuse me for that.

[2021-09-28 12:56] Cheedge commented on #7
Hi dawei@fudw ,
Thanks for making the test data, it is quite comprehensive. But I think there is one repeat question as group 2 question 9, "G2Q9",  (or is there something wrong with my understanding?) and the its corresponding "response" is lack of "varName" attr. and here, after add attribute "varName" then the results shows as below:

![df_styled](https://user-images.githubusercontent.com/61045

[2021-09-28 13:08] fudw commented on #7
![image](https://user-images.githubusercontent.com/77344869/135091772-668584f7-7dda-44c8-bcf7-d8684753a90c.png)
@Cheedge
This is what G2Q9 looks like. It has two sub-questions and two groups of options, which is I suppose what "dual scale" means as the name of the type. I'm also attaching here a pdf preview of the whole survey to give a better idea of what the questions look like, because I'm not

[2021-09-28 13:26] Cheedge commented on #7
Hi @fudw ,
Thanks for reply and the pdf, so I think you mean if you use this (I mean G2Q9) kind of question, in xml it will be saperated into two same question structures and both of them will loss thier "varName" attributes which belong to its corresponding "response" tag in the xml data? If right, I think I need to add a new situation.

[2021-09-28 13:47] fudw commented on #7
![image](https://user-images.githubusercontent.com/77344869/135098068-19f3c4c0-fecd-4951-8488-35b2d505c38b.png)
I updated the question a little bit and created a new xml file attached here. Feel free to feed it in and see how things changed.
[test_survey_structure.zip](https://github.com/N2-Survey/SurveyFramework/files/7244519/test_survey_structure.zip)

[2021-09-28 14:57] Cheedge commented on #7
Hi @fudw ,
ye, it seems like a new situation, I will add another condition later. Thank you dawei.

[2021-09-28 18:52] Cheedge commented on #7
Hi @fudw ,
this is the results which include this new type:
![df_styled](https://user-images.githubusercontent.com/61045942/135147731-1fd77c53-f9f6-4271-9e70-900bd497e1ae.png)

if there are no difference with what you thought in design the survey, I will push it to the branch.

[2021-10-05 16:42] lheckmann opened #15 "Short python intro"
Show in a short intro how to have a first look at the data with python

[2021-10-07 11:46] lheckmann opened #17 "Multiple choice plots"
Produce plots for multiple choice answers

![C5_PhD_reason](https://user-images.githubusercontent.com/74262873/136377845-edd22fcc-9821-4429-b8d3-dfed3bd7cd18.png)

Make a function that produces bar plots for multiple choice questions

What should be adjustable:

- [x] Color Scheme (with a default value that can be set in a header file)
- [x] Displaying or hiding the question title
- [x] Figure dim

[2021-10-07 11:53] lheckmann opened #18 "Comparison plots for more complicated question types"
Produce plots for comparison for more complicated question type:

E.g. multiple choice questions compared to a single choice question
![B9 SQ001 _feelfree_holidays_hue](https://user-images.githubusercontent.com/74262873/136378662-54432b8a-132e-4b2e-8beb-e1199eebb8c0.png)

- [ ] Make a function that produces the comparison plots above for multiple choice to single choice questions
- [ ] Make a func

[2021-10-07 11:56] lheckmann opened #19 "Plots for comparing distributions"
Produce plots for comparing distributions of e.g. salary with each other

![B3_salary](https://user-images.githubusercontent.com/74262873/136379157-163fa508-8b54-48f7-ba70-1333e4a5597d.png)

- [x] Make a function that produces the comparison plots for one comparison (e.g. salary by gender)
- [x]  Make a function that produces the comparison plots for more than one comparison (e.g. salary by gender

[2021-10-11 00:38] Cheedge commented on #9
Hi @lheckmann ,
Question:
1, I see the colors, but it seems not related to its percentage, right?
2, what do you mean figure dimension?(I have not attend the meeting, if you explianed before, forgive em)
And here is what I make, it seems roughly similar. If you think something wrong please tell me
![bar_img](https://user-images.githubusercontent.com/61045942/136718630-5bfa266d-2a2c-41b3-b020-bc07f

[2021-10-17 22:00] fudw commented on #17
I'm not 100% sure what "No Answers" is referring to here. As far as I can see, all questions of this type in the 2021 survey has no such option. Unless you meant "I don't know" or "I don't want to answer"?

[2021-10-17 23:30] Cheedge commented on #9
Hi @lheckmann ,
ok, let's see this,

![bar_img](https://user-images.githubusercontent.com/61045942/137636562-2f53bb58-d726-440b-b31a-3966d42b2149.png)

you can change threshold, colors, size or font_size... or other params:

![bar_img3](https://user-images.githubusercontent.com/61045942/137640481-f7857bee-c00b-49a2-b938-93e33b03289e.png)

please check it,

can Color Scheme (with a default value th

[2021-10-17 23:31] Cheedge commented on #10
Hi @lheckmann ,
ok, let's see this,
multiple comparison case

![new_multi0](https://user-images.githubusercontent.com/61045942/137636358-fc13e0f6-87a9-4ae1-9883-8db6c9f4800a.png)

you can also change interval, name, tiltle...

![new_multi1](https://user-images.githubusercontent.com/61045942/137636397-0ac777a3-7ed9-40b2-911f-d9e5eec89bf8.png)

here is the single comparison case:

![new_only_graph0]

[2021-10-18 07:29] rguliev opened #25 "Add a skeleton for the main class"
Add a skeleton code for the main class

[2021-10-18 09:39] #8 closed

[2021-10-20 13:11] kaloeffler opened #30 "Discussion interface plot functions"
Since the plot functionalities are currently listed as issues, could we perhaps discuss beforehand on how a potential interface for the plotting should look like? Also could we agree on some settings that are reasonable for all plotting functionalities to have?
For instance we could have kwargs for some basic settings like: "figure_size", "font_size", "set_title", "color_scheme", "hide_no_answers"

[2021-10-21 15:13] rguliev opened #31 "Add main LimeSurvey class"
- [x] #25
- [x] #32
- [x] #33
- [x] #34
- [x] #35
- [x] #37

[2021-10-21 15:13] rguliev opened #33 "Complete `read_responses` method"

[2021-10-21 15:14] rguliev opened #34 "Complete helper getters/properties: `get_label`, `get_choices`, `questions`, `sections`"

[2021-10-21 15:16] rguliev opened #35 "Collect a mapping `<question type>: <default plot type>`"

[2021-10-21 15:16] rguliev opened #36 "Complete the function `_get_default_plot_kind` to get plot kind from the question"

[2021-10-21 15:16] rguliev opened #37 "Complete the `plot` function"

[2021-10-21 18:32] kaloeffler commented on #30
Ok, thanks for clarifying.

[2021-10-21 18:32] #30 closed

[2021-11-02 10:13] lheckmann commented on #35
Question Type                                               Plot Type single

Simple single choice                                     Basic bar plot (Issue #9)
Multiple choice                                              Multiple choice plots (Issue #17)
Array                                                             Likert Scale Plots (Issue #11)

[2021-11-02 10:22] lheckmann commented on #35
Question Type ------------------------------------------> Type comparison plot

--------------------------------------with-------------------Simple single choice-----------------------------------Multiple Choice or array
Simple single choice ---------------------------------- Issue #10 ------------------------------------------------Issue #18

--------------------------------------with------------

[2021-11-02 10:25] lheckmann commented on #35
Additional figures (will be updated in the coming months):

Issue #19: To be shown upon request for certain questions, e.g. Income (Question B3)

[2021-11-02 10:54] rguliev commented on #35
@lheckmann Thank you!

This is a bit hard to read.
![image](https://user-images.githubusercontent.com/9852534/139833695-42f65a6f-e8fb-4763-a5fa-f3bee2ebe392.png)

Just for better readability. Could you please just put one table in the issue description? Here is an example of [how you can make a table](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/organizing-i

[2021-11-02 11:01] lheckmann commented on #35
Done, thank you for the instructions!

[2021-11-02 14:20] #33 closed

[2021-11-10 16:21] rguliev opened #44 "Add a method for filtering question columns from responses"
Add a method to the `LimeSurvey` class that filters required columns from the responses data frame.
A possible function interface can be:

[code]

where:
* `question` is the question to filter. For example, `"A1"`, `"B1"`, `"B1_SQ001"`, `"B6"`, `"B6_SQ003"`. Note that it should work for single columns like (B1_SQ001) as well
* `labels` indicates what should be converted from Lime codes (like A1) t

[2021-11-10 16:39] rguliev opened #45 "Add a method for getting responses counts"
Add a method to the `LimeSurvey` class that will return counts for a provided question.
* For a single-choice question (and no-choice question like `date`, `age`, etc.), returns simple value counts. For example, for "A1" in 2021 dummy survey returns
[code]

* For an array question,  returns counts each value for each subquestion. For example, for "B6" in 2021 dummy survey returns data frame
[code]

[2021-11-10 16:41] rguliev commented on #45
My code for the examples I provided:

[code]

[2021-11-15 11:48] fudw commented on #45
It could also be useful to calculate percentage here I think.

[2021-11-15 12:14] olineumann opened #47 "Pull Request and Issues template"
I think it is useful if we define a template for PRs and issues. I will setup one later.

[2021-11-15 16:52] #34 closed

[2021-11-16 10:42] olineumann opened #49 "LimeSurvey.get_label returning wrong values"
## Description

It seems like the `LimeSurvey.get_labels` method returns wrong or misleading values for array type questions (and maybe also others).

## Reproduce

I debugged the LimeSurveyGetResponses tests to replace the label parsing in get_response with the get_label method of the LimeSurvey class. There I recognized the following when comparing the labels:
[code]

## Expection

I would expec

[2021-11-16 11:26] #47 closed

[2021-11-16 15:30] rguliev commented on #49
I wouldn't call it a bug. This is intended behavior. The problem is that we have a label for an individual (sub)question/column and for the whole question group (see `servey.questions.question_label`).
So, it is not easy to decide what is the label. The current logic is that we return a column label if for a specific column, and a question label for a question group.

Maybe, we need to separate ge

[2021-11-22 10:40] #44 closed

[2021-11-23 17:16] #45 closed

[2021-11-23 21:45] fudw opened #51 "LimeSurvey.count returns unhelpful "Total" column when percents=True"
## Description

Lime.Survey.count method returns a "Total" column of all values being "100" when "percents" argument is set to True.

## Reproduce

Steps to reproduce the behavior:
1. Instantiate: survey = LimeSurvey(structure_file)
2. Read in responses: survey.read_responses(responses_file)
2. Call: df = survey.count("C3", add_totals=True, percents=True)
3. Print out the resulting dataframe df

#

[2021-11-24 08:06] #17 closed

[2021-11-24 11:43] rguliev commented on #37
@Tianbe Sorry, I had to code this function a bit for today's demo. We can replace it after the demo.

[2021-11-25 08:49] #31 closed

[2021-11-25 08:50] rguliev commented on #36
Closing this issue, since it looks like there is not need in this function now.

[2021-11-25 08:50] #36 closed

[2021-11-25 08:50] #35 closed

[2021-11-25 08:53] rguliev commented on #49
Closing this issue, since the output is as intended. I think we create a separate issue when we get more specific requirements.

[2021-11-25 08:53] #49 closed

[2021-11-25 08:58] rguliev commented on #51
As discussed, changing values to have only absolute values in totals is also a bit ambiguous.
I think, maybe the simplest way would be to return a tuple: `counts, total(s)`. That way we can avoid ambiguity

[2021-11-25 09:40] rguliev opened #54 "Improve transition of **kwargs between LimeServey.plot and the plot function"
## Current problems we try to address:

The current transition of **kwargs is like:

[code]

I.e. there is no way to "send" some arguments to the plot function itself because all values of `**kwargs` go to `theme`.

## Possible solutions:

A possible solutions would be

a) to split **kwargs to `theme` and `non-theme` kwargs, i.e. like:

[code]

b) merge `self.theme` values to `kwargs` and send it

[2021-11-25 09:41] rguliev commented on #54
The second option looks more flexible, so I would try to use it that way.

[2021-11-25 09:48] rguliev commented on #54
@Tianbe , taking into account your changes of the `plot` function, could you please check if it makes sense? If so, would you take this issue?

[2021-11-25 09:54] Tianbe commented on #54
I

I can have a look. I will get in touch with you, if there is something unclear

[2021-11-25 10:17] rguliev opened #55 "Convenient parsing of theme and rcParams"
## Description

Currently, we have to provide theme parameters in a format that is used by [seaborn.set_theme](https://seaborn.pydata.org/generated/seaborn.set_theme.html). However, setting rcParameters is not convenient. For example, for custom figsize we would write `s.plot("A6", rc={"figure.figsize": (5,5)})`.

## Possible solution

Write a helper function:
* INPUT: a dictionary of kwargs, wher

[2021-11-25 10:36] Tianbe commented on #54
Is it already clear what **kwargs we would have / are valid? In the version of the plot function (https://github.com/N2-Survey/SurveyFramework/blob/37_complete_plot_function/n2survey/lime/survey.py) I also checked if the given keyword is valid

[2021-11-25 10:40] Tianbe commented on #54
Or are we always using barplots?

[2021-11-25 11:31] rguliev opened #56 "Add GitHub actions for automated testing and linting"

[2021-11-25 13:11] #56 closed

[2021-11-25 14:36] lheckmann opened #58 "Collect default parameters"
Make a list of already known default parameters, e.g. save options (dpi, bbox_inches,...)

[2021-11-25 14:38] rguliev opened #59 "Add `org` attribute to the LimeSurvey class"
## Add `org` attribute to the LimeSurvey class

- [ ] Add `org` (organization) attribute to the LimeSurvey class. Default value is None
- [ ] In the `plot` method, if `self.org is not None` add a prefix to the title f"{self.org}: {title}"

[2021-11-25 14:40] rguliev opened #60 "Make `labels=True` by default"
- [ ] In all methods of the `LimeSurvey` class having `labels` argument, set `labels=True` by default.
- [ ] Update tests accordingly

[2021-11-25 15:47] rguliev opened #61 "Structure tests"
## Make tests structure nicer

Currently, all tests are put in one file. Like in `test_lime_survey.py`. It is not easy to navigate and read it.

## TODO
- [ ] Re-structure the tests that each TestCase is a separate file.
- [ ] Make sure if all methods of `LimeSurvey` are tested. If not, add them

[2021-11-25 16:36] Tianbe commented on #54
@rguliev  I have an issue with poetry. I realized that I have to execute `poetry install` to install the required packages, that I was missing (I guess that could be mentioned in the contributing workflow). Unfortunately I get an error message:
[code]

but I checked the file and the path and I have the permission to access this file...

[2021-11-26 09:29] rguliev opened #62 "`get_responses` does not handle properly "other" of multiple choice questions"
## Description

`get_responses` does not handle properly "other" of multiple-choice questions

## Reproduce

[code]
![image](https://user-images.githubusercontent.com/9852534/143557757-b7a5ab47-aaec-47b7-ad35-9d132a13cd5c.png)

## Expection

![image](https://user-images.githubusercontent.com/9852534/143558299-1732237b-31c1-4cb3-8461-99a05645f56e.png)

[2021-11-26 09:34] rguliev commented on #54
Hm... I guess I will need more information:
* Do use conda?
* Where exactly do you call `poetry install`?
*

[2021-11-26 09:52] kaloeffler commented on #61
Since at least this is common practice in many other open source python projects (for instance  - scipy and pytorch): Why don't we stick to having the same folder structure in the test folder as in the project and having one test_file.py file for each file.py ?
At least in my impression splitting all tests to separate files won't improve readability, however, complicate navigation.

[2021-11-26 11:09] rguliev commented on #61
I think it depends on the structure. So, for a project like scipy, where there is no "one big class" with a lot of methods it is not a problem. But for a project like pandas where one class has a lot of methods, it is quite inconvenient. You can see how tests are structured in [pandas](https://github.com/pandas-dev/pandas/tree/master/pandas/tests). It makes it easier to find/add/edit a test.

From

[2021-11-26 11:44] Tianbe commented on #54
As far as I remember I installed poetry in a conda virtual environment. I guess could also just delete this virtual environment and set up a new one. What would be your recommendation for virtual environments? venv?

[2021-11-26 15:24] rguliev commented on #54
Unfortunately, I do not know what is better for windows. In a linux system, poetry+pyenv handles the environment issue.
On my windows machine, I use conda virtual environment + poetry and it worked so far.
I guess dropping and re-creation of virtual environment is a good thing to try

[2021-11-29 09:11] lheckmann commented on #58
Default parameters for saving figures:

- dpi=300
- bbox_inches=True

Default parameter for figures:

- Default threshold for showing percentage numbers: 1%
- wrap title: 70

[2021-11-30 07:33] Tianbe commented on #54
@rguliev  I am at the moment not sure what keywords that are not related to the theme could be send to the plotfunctions. As there is anyway not an implementation the in plotfunctions to deal with these keywords, I would now raise an error, if such a keyword would be given to the plotfunction. Or did you had a different idea, when you created this issue?

[2021-11-30 08:16] rguliev commented on #54
@Tianbe that is exactly how I expected it to be. We can add validation for non-theme keyword arguments later when plot functions themself will be more stable

[2021-12-06 11:06] rguliev commented on #62
@johnlee2104 Would you like to take this issue?

[2021-12-06 11:08] rguliev commented on #59
@nopirogova Would you like to take this issue?

[2021-12-06 12:17] johnlee2104 commented on #62
Yes please assign me the issue. I have also sent you a reply on Slack. :)

John

On 6 Dec 2021, at 12:06 pm, Rustam ***@***.******@***.***>> wrote:

@johnlee2104<https://github.com/johnlee2104> Would you like to take this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/N2-Survey/SurveyFramework/issues/62#issuecomment-9

[2021-12-07 14:44] kaloeffler commented on #60
Concerning the tests: currently all tests are passing after changing the labels=True as default, as the labels kwarg seems to be set for all tests in test_lime_survey.py explicitly.

[2021-12-07 17:08] #60 closed

[2021-12-12 17:00] milena-djokic commented on #61
I'll work on this.

[2021-12-14 06:43] kaloeffler commented on #11
@lheckmann could you specify on the spacing option? Should it be only possible for one bar or several? If several should they all have a large space between each other - or be "grouped" - so one could define groups of bars that should have a small spacing between each other and a large one between different groups?

[2021-12-14 06:49] lheckmann commented on #11
To keep it as flexible as possible, I would go for the several option.
The grouping you're describing would make sense since I could also define single bars as a group and then get a larger spacing wherever I want it. So small space between each other and large one between different groups I would say.

[2021-12-14 07:06] kaloeffler commented on #11
@rguliev

1)since no Likert plots are available in seaborn / matplotlib per default, I would suggest adapting the following code: https://matplotlib.org/stable/gallery/lines_bars_and_markers/horizontal_barchart_distribution.html#sphx-glr-gallery-lines-bars-and-markers-horizontal-barchart-distribution-py and https://stackoverflow.com/questions/23142358/create-a-diverging-stacked-bar-chart-in-matplo

[2021-12-14 07:48] kaloeffler commented on #11
@lheckmann @rguliev
How do we want to deal with the choices "I don't know"; "I don't want to answer this question", "Does not apply" ? Do we want an option to filter them out? Or have them in the center of the bar? However, there are also questions where a neutral answer exists. Any opinions on that?

[2021-12-14 07:55] lheckmann commented on #11
In the last years we filtered them out at least for the satisfied - dissatisfied arrays (make sure to adjust the total number of responses to the filter). I think it's hard to merge them with the neutral ones without causing confusion.
But I would leave the option to keep them in (e.g. Having a array question with Yes, No, I don't know - here it makes sense to use the I don't know as a neutral one

[2021-12-14 07:57] kaloeffler commented on #11
And idea could be to have the user sort the choices like that:

` sorted_choices = {"negative"["A","B","C"], "neutral":["E","F"], "positive":["G"]}
`
Where the lists for positive and negative are sorted from strongest to weakest.
Based on that the user could e.g. have "Does not apply" or "I don't know" added to "neutral" or not.

[2021-12-14 08:20] lheckmann commented on #11
I agree - this sounds like a good idea!

[2021-12-14 12:28] kaloeffler commented on #11
After checking all questions and responses - as there can be choices that can be interpreted as positive or negative depending on the question, and also choices where no positive or negative exist I would suggest grouping the choices in
` sorted_choices = {"left":["A","B","C"], "center":["E","F"], "right":["G"]}`.

[2021-12-14 16:35] Tianbe commented on #54
@rguliev I have one more question: I would now set the arguments that you put in the current implementation of the function calls of 'single_choice_bar_plot' ('title=counts_df.columns[0]') and 'multiple_choice_bar_plot' ('display_title=True, sort="descending", bar_spacing=1.2,') as default values in the the plot functions, or should I leave this like it is.

[2021-12-15 06:58] kaloeffler opened #67 "Array plot with free field choice"
@lheckmann I observed that besides the Likert plots there is another array question type without fixed choices.
One example where this type occurs is for working times - e.g. how much time (percentage) do you spend on different tasks. The participants can add arbitrary integers to the categories which need to sum up to one.

Perhaps you could add an example plot and add some todos for that plot ty

[2021-12-15 07:38] lheckmann commented on #67
That is true, thank you for spotting it. Do you want to treat it in the same issue or make a new one for it?
And it means that we have to check (I guess in the central plot function) for the array plots if the answers are integers and if they are not, choose the Likert ones, if they are, choose the new plot function for integers.

[2021-12-15 07:58] kaloeffler commented on #67
@lheckmann  I would suggest treating it in a different issue, since we either need at least some pre-processing to group the answers - e.g. create some "choices" - then I presume we could perhaps process it with the Likert plot functionality as well. Or we even might want to visualize this differently.

Concerning checking: I can only speak for the HeJu data set - here it's easy to check as no cho

[2021-12-15 11:13] kaloeffler commented on #11
@lheckmann Please have a look at some example graphs:
![E7b](https://user-images.githubusercontent.com/28811849/146175019-3d5bc2a9-4c42-4811-a3b6-1e089cffe47c.png)
![I2](https://user-images.githubusercontent.com/28811849/146175269-b9d905bd-d940-4fd5-986c-e8ce0191f92c.png)
![I3](https://user-images.githubusercontent.com/28811849/146175310-a90609ea-3811-4570-9247-d643972293fb.png)

**What has been i

[2021-12-16 15:46] lheckmann commented on #11
@kaloeffler, really nice work, thank you! Also the centering looks nice :)

First to your questions:
- For the total answers I would adjust them to the filter - otherwise we need to state what we filtered out.
- The percentage should always refer to what you display as the total number of answers: So if we go with the approach above, yes they should add up to 100. If we don't, then they do not nee

[2021-12-20 07:00] kaloeffler commented on #11
@lheckmann thanks for the input!

total answers: Ok - then we will do the filtering before the plotting and adjust the total answers accordingly and everything will sum up to 100 in the plots.

Concerning the long questions: I would suggest that the user renames the question labels before the plotting - this might also be handy for other question types. Perhaps we could add this as a separate issu

[2021-12-20 07:31] lheckmann commented on #11
@kaloeffler

"I would suggest that the user renames the question labels before the plotting - this might also be handy for other question types. Perhaps we could add this as a separate issue?"
I agree and will bring it up today in the meeting to add it as an issue then.

For the sorting: I would not leave it to the user at least not the default one - e.g. the example figure of the issue: It has so

[2021-12-20 07:42] kaloeffler commented on #11
@lheckmann

for the sorting: since I have some default grouping of the responses (which will be most of the times (depending on the question)) "left" agreement/ positive and "right" disagreement / negative one could have an option sort by "left" or "right" side of the grouped responses with default by "left"?
I'm just undecided with the grouping option - if it should just allow for grouping and no

[2021-12-20 08:14] lheckmann commented on #11
@kaloeffler

Left and right is perfectly fine, thank you :) And maybe we have the option: left, right and unsorted? (with left as default)
And for the grouping: I guess we will see what it will be needed for during analysis, but I think we do not need it for sorting, just grouping them after the sorting to make some figure easier to read.

I thought that if the user want to display to graphs on th

[2021-12-20 08:19] kaloeffler commented on #11
@lheckmann thanks again!

concerning sorting: so I will split grouping questions and sorting them from another.

concerning axis: yes that makes completely sense!

[2021-12-20 09:17] kaloeffler commented on #11
@lheckmann concerning the background - I've kept the same "background design" as all other plots currently have. I would suggest editing this in the theme of all plots?

[2021-12-20 09:49] lheckmann commented on #11
True, thanks for pointing it out!

[2021-12-20 11:55] lheckmann opened #68 "Convert number intervals to numbers"
Conversion of questions with number intervals to numeric values that can be used for computations (e.g. mean values, ....).
Should be done in the preprocessing after reading in the data and then stored as a separate new column in the data frame (maybe as e.g. "B3_numeric").

Questions with numeric intervals as answer options:

- B.1b) For how long have you been working on your PhD without pay?
- B

[2021-12-20 11:56] fudw opened #69 "Export aggregate data to file and import aggregate data from file"
## Description

As requested by Lea, helper functions are needed for exporting aggregate data for specified questions, i.e. counts and percentages, to a file and importing that data from files. This is needed because raw data from each institute cannot be shared with others and making comparison plots between results from multiple insitutes requires aggregate data only.

## Possible solutions

Met

[2021-12-22 11:37] j-pietsch commented on #19
@lheckmann @rguliev
I have some basic questions before diving in too deep into coding as I am quite new to the structure of the project. My basic idea would be the following (for the case of only one comparison):

1. Add new method to `survey.py` which takes numerical question (e.g. salary), categorical question (e.g. gender) and selected answers of this categorical question (e.g. 'Male', 'Female'

[2021-12-24 11:37] rguliev commented on #19
@j-pietsch Sorry for the late reply.

I feel like it will require some fixes for allowing more than one split question. But let's start with this and see how it goes:)

Yeah, that could be an option. But let's call the argument `responses` instead than `dataframe` since it is more explicit what the dataframe is about. Another option (or we can even use both of them) would be add some arguments to

[2021-12-24 12:00] #11 closed

[2022-01-10 08:22] lheckmann opened #75 "Include Mental Health Transformations"
Convert the Mental Health Questions D1-D3 into scores and then anxiety and depression classifications and add them as new columns to the dataframe.

The code from the previous years will be shared with the one taking up the issue.

[2022-01-10 08:26] lheckmann opened #76 "Comparison plots - Multiple vs. Multiple Choice question"
Produce plots for comparison for more complicated question type:

E.g. multiple choice questions compared to a single choice question
![B9 SQ001 _feelfree_holidays_hue](https://user-images.githubusercontent.com/74262873/136378662-54432b8a-132e-4b2e-8beb-e1199eebb8c0.png)

- [x] Make a function that produces a comparison plots similar to the one above for multiple choice to multiple choice question

[2022-01-10 08:28] lheckmann opened #77 "Comparison plots - Single vs. Array question"
Produce plots for comparison for more complicated question type:

E.g. multiple choice questions compared to a single choice question
![B9 SQ001 _feelfree_holidays_hue](https://user-images.githubusercontent.com/74262873/136378662-54432b8a-132e-4b2e-8beb-e1199eebb8c0.png)

- [ ] Make a function that produces a comparison plot similar to the one above for array to single choice questions
or think of

[2022-01-10 08:30] lheckmann opened #78 "Comparison plots - Array vs. Array question #18"
Produce plots for comparison for more complicated question type:

E.g. multiple choice questions compared to a single choice question
![B9 SQ001 _feelfree_holidays_hue](https://user-images.githubusercontent.com/74262873/136378662-54432b8a-132e-4b2e-8beb-e1199eebb8c0.png)

- [ ] Make a function that produces a comparison plot similar to the one above for array to array questions
or think of a more

[2022-01-10 08:31] lheckmann opened #79 "Comparison plots - Array vs. Mulitple choice question"
Produce plots for comparison for more complicated question type:

E.g. multiple choice questions compared to a single choice question
![B9 SQ001 _feelfree_holidays_hue](https://user-images.githubusercontent.com/74262873/136378662-54432b8a-132e-4b2e-8beb-e1199eebb8c0.png)

- [ ] Make a function that produces a comparison plot similar to the one above for array to multiple choice questions
or think

[2022-01-10 08:35] lheckmann opened #80 "N2 comparison figures - single choice questions"
Use the output of the export of single choice questions to make a comparison figure between the organizations.

Examples from 2019:
![Contracts3](https://user-images.githubusercontent.com/74262873/148737328-c42f0e48-bdc6-4f0d-9f8d-309f590cf0e6.jpg)
![MentalHealth](https://user-images.githubusercontent.com/74262873/148737339-a0eed7a7-61b7-4aa1-85d8-00b9c56770ba.jpg)

Feel free to come up with your

[2022-01-10 08:39] lheckmann opened #81 "Calcuated PhD durations"
Use questions for "In which year/month did you start your PhD?" "In which year/month do you expect to submit your PhD Thesis?" to calculate the current PhD duration (e.g. first year PhD,...) and the estimated total PhD duration and add them to the data frame.

Pick the default of the dummy data question numbers, but insert a check if they are the right questions (might change over the years or bet

[2022-01-18 09:23] lheckmann opened #83 "Not all options for the likert_bar_plot() work"
In n2survey/lime/survey.py the application of likert_bar_plot() does not define all possible options that are defined for the function.
n2survey/lime/survey.py should be update with e.g. grouped_choices

[2022-01-18 10:14] lheckmann opened #84 "Filter by question before plotting/showing counts"
Introduce a filter option to only select parts of the dataframe when using other functionalities (e.g. plotting).

E.g. Only Germans should be selected for certain questions or only everyone that is not German,...

[2022-01-18 13:10] kaloeffler commented on #83
As I already pointed out in the pull request #70 not all kwargs that can be passed to likert_bar_plot() are added to the survey.plot() method since there are yet no decisions on how we handle kwargs. There are several issues open on the kwargs problem - please see issues #54, #55 and #58 . Without any design decisions in them I would discourage passing additional kwargs to the plot method as curre

[2022-01-18 13:16] lheckmann commented on #83
Very true - sorry, I overlook the other issues. I just realized this when I wanted to make an overview of how to use the liker plot function. I completely agree, but would still keep this issue to not forget about the implementation if that is fine with you? Of course enhancement is true then.

[2022-01-18 15:09] lheckmann commented on #84
I think we do not really need a function for this, but a explanation should do.
What is more important is that this germans would then not be the input for the .plot function right? So germans.plot('some other question') would not be possible, but is something that will rather be needed maybe?

So the possibilities I see, but we should discuss them together with @rguliev, are:
1. Either make a fun

[2022-01-19 07:31] kaloeffler commented on #83
Sure! :)

[2022-01-19 17:34] rguliev commented on #84
Hi,

I think we can consider:
1) Slicing object itself, i.e. `germans = survey[survey.responses["Nationality"] == "german"]`
2) Add `filter` method, i.e. `germans = survey.filter(survey.responses["Nationality"] == "german")`
3) Or add both options

In both cases, the output is a `LimeSurvey` object as well, so it can be followed with other methods, for example `survey[survey.responses["Nationality

[2022-01-19 22:51] fudw commented on #84
@rguliev If I understood you correctly, a _copy_ of the entire LimeSurvey object is created by such a filter or slicing operation, instead of a _view_ of the survey.responses dataframe. Because otherwise one would not be able to directly call further plotting methods on `germans` here, right?

I was under the impression this is undesirable due to memory consumption of having multiple copies of (pa

[2022-01-20 11:26] rguliev commented on #84
That is a good point. What was your plan for this issue then?

If we do not have better options, then I guess will can keep it for now. Also,
1) I think that the garbage collector will take care of "inactive" filtered objects
2) We optimized the size of the responses, so the copies will be relatively light
3) `survey[survey.responses["Nationality"] == "german", [<some columns>]]` would also allow

[2022-01-20 12:06] fudw commented on #84
I was thinking about incorporating this functionality into the `count` method, where filtering conditions are inputted as optional arguments and the slicing of the responses df (creating a view rather than a copy) is done right before the calculating sums. This way the filtered responses don't need to be saved but are retrieved every time it is called within the plotting functions.

[2022-01-20 16:24] fudw commented on #84
For example, if one wants to plot question A5 but only for those who answered "german" to question A3 (I'm making up some IDs here), one would

1. call `survey.plot("A5", filters=[("A3", "=='german'")])` The `filters` argument would perhaps take a list of tuples as conditions for filtering in the form of `("question_id", "condition")`
2. This argument will be passed onto the `count` method, which

[2022-01-20 17:47] rguliev commented on #84
I see. We could use `query` parameter and pass it to [pandas query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html). However, I would suggest not making filters as function arguments. I feel like it's going to be a headache and a bad user experience.

[2022-01-21 15:19] #54 closed

[2022-01-23 15:36] fudw opened #85 "Wrong question type for Question C5"
## Description

The Question C5 asks "What percentage of your time do you currently spend on average on the following tasks?" and has 6 sub-questions for "Scientific work directly related to the doctoral research" etc. The user is expected to enter any integer between 0 and 100.

Calling `survey.get_question_type("C5")` or `survey.questions.loc["C5_SQ001", "type"]` returns "array", because the typ

[2022-01-24 12:00] rguliev commented on #84
Discussed on the meeting

[code]

[2022-01-24 12:04] #85 closed

[2022-01-25 18:12] rguliev commented on #75
Hi,

@lheckmann could you please give an example of how it is usually used? Or how it is planned to be used?
Should this data be exported as well? If so, do we need all scores or only final ones based on all subquestions?

[2022-01-27 07:29] lheckmann commented on #75
Hi,
it's either used by using the total score per question or the classification applied. So only final score and classifications are important and should also be exported.

Usage e.g.:

[A7_Depression.pdf](https://github.com/N2-Survey/SurveyFramework/files/7948406/A7_Depression.pdf)
![D3_supervision_colorMP](https://user-images.githubusercontent.com/74262873/151311565-513d184a-629e-46c2-a28a-6210

[2022-01-31 09:40] j-pietsch commented on #19
@lheckmann
So the implementation is roughly finished, the incorporation of the calculation of the median #68 is still to be done.
Currently, two plots are generated by default:

1. Plot for one comparison at a time (up to 8 indivudual comparisons possible)
2. Plot for exactly 2 simultaneous comparisons at a time (up to 8 comparisons possible)

The main question to be filtered is passed as the firs

[2022-01-31 10:43] #9 closed

[2022-01-31 10:43] #37 closed

[2022-01-31 11:27] TheFlike commented on #10
s = LimeSurvey("SurveyFramework/data/survey_structure_2021.xml")
s.read_responses("SurveyFramework/data/dummy_data_2021_codeonly.csv")
s.output_folder = ''
s.theme["rc"]["figure.figsize"] = (16,9)
s.theme["palette"] = "Reds"
s.plot('A1', compare_with='A6', save=True, totalbar=True,
       threshold_percentage=10, bar_positions=[0,1.5,2.5],
       answer_supress=['No Answer'], add_questions=['A6'],

[2022-01-31 11:59] lheckmann opened #88 "Calculate average satisfaction"
Using the subquestions of the satisfaction question (mostly 'C1', but make a check for the label of the question if it matches), calculate an average satisfaction and add it to the data frame as a separate column.

Computation in 2019: The overall satisfaction was computed by converting the results for each aspect in question C1 to a scale from 1 to 5 ("Very satisfied" = 5, "Very dissatisfied" = 1

[2022-01-31 15:42] lheckmann commented on #19
Thank you for the work, it looks very nice!

- Is the main layout okay like this?
Yes it is. Just one detail: It's good that the axis adjust to the bar heights as default, but can we include an optional parameter to set the yaxis max? (min should be always 0)

- Should the implementation also allow for >2 simultaneous comparisons?
Probably not necessary right? Would give quite big figures.

- Shou

[2022-01-31 22:07] TheFlike commented on #10
LIst of Examples from minimalistic to complex:
s = LimeSurvey("SurveyFramework/data/survey_structure_2021.xml")
s.read_responses("SurveyFramework/data/dummy_data_2021_codeonly.csv")
s.output_folder = ''
s.theme["rc"]["figure.figsize"] = (16,9)
s.theme["palette"] = "Reds"

s.plot('A1', save=True)
![A1](https://user-images.githubusercontent.com/60603101/151880708-b9bcfe27-d3c1-48b9-a270-6d7a55a99c3f

[2022-02-01 07:37] lheckmann commented on #10
Looks very nice!
One more small detail: Can you order the bars in the order of the answer in the structure part of the survey object (as done for the simple single choice figure)?

[2022-02-04 21:11] TheFlike commented on #77
This is an issue suited for beginners, since simple questions are not as complicated to combine with other answers. The only real necessary libraries would by numpy, pandas and matplotlib.pyplot as plt
I know that pandas can be quite usefull and seaborn can directly interact with pandas, but my experience is that the basic numpy and matplotlib.pyplot is less confusing for non programmers, especial

[2022-02-07 10:30] rguliev opened #90 "Write common function for wrapping labels"
## Description
 Currently, each plot function has its own helper function for wrapping labels ([here](https://github.com/N2-Survey/SurveyFramework/blob/9712c9426e76feb50a99601e4ea749a2b22b0e7a/n2survey/plot/plot_multiple_choice.py#L110) and [here](https://github.com/N2-Survey/SurveyFramework/blob/9712c9426e76feb50a99601e4ea749a2b22b0e7a/n2survey/plot/plot_likert.py#L245)). Since this problem is co

[2022-02-07 10:34] TheFlike commented on #10
Maybe I didn't have the easiest way, but this now should also work... in theory:
s.plot(
    "A1",
    compare_with="A6",
    save=True,
    totalbar=True,
    threshold_percentage=10,
    bar_positions=[0, 1.5, 2.5, 4.5],
    answer_supress=["No Answer"],
    add_questions=["A6"],
    legend_columns=6,
    plot_title="Putting in my own title",
)

should now plot:
![A1](https://user-images.githubu

[2022-02-07 10:47] rguliev opened #91 "Add an option for grouping choices in plots"
## Description
Currently, there is no option to join choices in plots. For example, for gender, one might want to reduce choices to male, female, and other; or merge answers like "do not know", "do not want to answer". For that reason, we need to provide some to join choices.

## Solution
We can add an argument to the `LimeSurvey.plot` method that will be responsible for merging answers. The argum

[2022-02-07 12:51] rguliev opened #92 "Add a dataframe for storing scores and aggregates"
## Description
The structure of a DataFrame does not work nicely with adding some scores or additional columns because they are not presented in the questionnaire structure. So we need to add such an option for properly adding columns

## Possible solutions
Add a dataframe to the LimeSurvey class that will store all additional fields. Make sure that "get_responses" and "plot" method will look up f

[2022-02-14 11:30] lheckmann opened #93 "Synchronize question identifiers between organisations"
Make a dictionary to synchronize the questions identifiers since they can be different between Max Planck, Leibniz and Helmholtz (potentially we should also include TUM just to have the option).

I'll organize the xml structure file and notify in the issue here when they are uploaded.

[2022-02-14 11:37] NiRuff commented on #69
For issue # 80, it is necessary to have access to the aggregated data of all institutions, in order to compare these institutions.
For that it would be very helpful, to not have one file per question per institution, but to have one file per institution, that then had to be created and expoerted by a member of each institutions, so that I can work with these files of aggregated data.
Then it is st

[2022-02-28 15:14] #10 closed

[2022-02-28 15:49] #62 closed

[2022-03-01 10:25] #84 closed

[2022-03-01 12:37] lheckmann opened #94 "Change Defaule filename for Comp Plots"
- [x] Figure for the simple comparison plots are e.g. saved as "A1.png" per default - but that makes it the same filename as for just plotting A1 without a comparison. Can we change it to something like "A1_vs_A6.png" or similar?
- [x] The order of the bars is now according to the xml order, but not for the colored values (the ones in the legend). Can you also order them according to the structure

[2022-03-04 16:28] rguliev commented on #69
![image](https://user-images.githubusercontent.com/9852534/156801334-91496955-834d-40a9-b52e-e27972419d35.png)

[2022-03-04 17:01] rguliev commented on #75
[code]

[2022-03-08 18:13] lheckmann commented on #69
Official okay for sharing the data with excluding the specific institutes and free text questions and permutation is given :)

[2022-03-09 09:16] #94 closed

[2022-03-14 11:33] lheckmann opened #96 "Calculate rating supervisor"
We have two question rating the formal and direct supervisor in different aspects.

labels of the questions:
"Please rate the supervision provided by your &lt;u&gt;formal&lt;/u&gt; supervisor."
"Please rate the supervision provided by your &lt;u&gt;direct&lt;/u&gt; supervisor"

E.g. "My supervisor treats me professionally" is being rated with from "Fully agree" to "Fully disagree".
This should be

[2022-03-16 08:03] #75 closed

[2022-03-16 14:07] #69 closed

[2022-03-18 13:01] kaloeffler opened #99 "Removing answers in simple comparison plot"
## Description

I think there is an issue with removing answers in #10

Removing answers from a list of existing answers leads to an IndexError:
"Traceback (most recent call last):
  File "/mnt/Data/Projects/SurveyFramework/generate_compare_plots.py", line 66, in <module>
    survey.plot(
  File "/mnt/Data/Projects/SurveyFramework/n2survey/lime/survey.py", line 671, in plot
    fig, ax = simple_co

[2022-03-21 11:20] NiRuff commented on #93
I checked all questions in the 4 surveys and found the following inconsistencies:
| N2 Survey 2021 -   Helmholtz | N2 Survey 2021 - Leibniz PhD Network | N2 Survey 2021 - MPS | N² Survey 2021 at TUM                               |
|------------------------------|--------------------------------------|----------------------|-----------------------------------------------------|
|

[2022-03-22 07:39] lheckmann opened #101 "Desgin color schemes"
Design default color schemes for all organisations (Helmholtz, Leibniz, Max Planck, TUM, IPP) involved using their Logo's and organisation's colors.

[2022-03-22 07:43] lheckmann opened #102 "Include option for user-defined filename in plot function"
Provide the user with the option to specify the filename themself for saving figures. In case it's not given, use current default options.

[2022-03-22 07:53] lheckmann commented on #93
Nice thank!

Could you still put it in a dict?
Just to have a default way for future years where we might have more differences?

And Dawei already implemented the renaming inside his export function anyway that will take the dict "rename_columns" as input:

[code]

[2022-03-22 10:54] NiRuff commented on #93
Okay, but as we do not change any names except for the one I gave above, the only key value pair we need is the mentioned one.
This would make the dictionary very short:
rename_dict = {"F8_SQ013": "F8_SQ001"}

[2022-03-22 12:45] TheFlike commented on #102
Already implemented, instead of `save`=True, give `save`='myownfilename.pdf' or `save` = 'myownfilename.png' e.g

[2022-03-22 12:46] #102 closed

[2022-03-22 12:57] lheckmann commented on #93
Good for illustration this way :)
I'll close the issue then!

Two propositions for next tasks for you maybe:

- We ask all organizations to export the data and you combine it to one file and try the comparison plots on it, I will make an issue for it later.
or
- Issue #101, designing default color schemes for all organizations.

[2022-03-22 13:10] lheckmann opened #103 "Create common exported file and try comparison figures"
We ask all organizations to export the data and you combine it to one file and try the comparison plots on it.

I can export the MPS data (only one needing the dict) and will ask Anna to do the Helmholtz one.
You have access to Leibniz data already right?

So then we should be set for the start, TUM will decide later if they want to join the comparisons.

[2022-03-22 13:24] lheckmann commented on #103
No, we will give it to Anna and she should distribute it to the analyzers. git is too public

[2022-03-22 14:01] TheFlike opened #104 "Improving simple plot(question) function"
## Description

A collection of simple to resolve issues for beginners for the simple` plot(question)` function of survey.py (excluding `compare_with` functionality)

1. Bars have different lengths not corresponding to percentages, probably due to rounding?
2. in some plots the text is cut off at the bottom

## Reproduce

Steps to reproduce the behavior:

[code]
1. `s.plot(K4a)`
2. `s.plot(K1)`

#

[2022-03-22 17:52] #99 closed

[2022-03-22 17:52] #93 closed

[2022-03-22 17:53] #80 closed

[2022-03-22 23:29] TheFlike commented on #18
Should I add a default option to automatically remove answers that nobody clicked from the x-axis?

[2022-03-23 00:03] TheFlike commented on #18
results at the moment for:

[code]

results in:
![myownfilename](https://user-images.githubusercontent.com/60603101/159596327-167c376c-99db-4711-a0ae-7f5943ae4697.png)

[2022-03-23 00:07] TheFlike commented on #18
We need to include textwrap to the environment though, it would also be possible to program this small wrapping function for ourself if necessary, but I don't see why we shouldn't use the already existing library
(`conda install -c conda-forge textwrap3`)

[2022-03-28 10:16] lheckmann commented on #101
Websites to look up Logo's and colors:
MPS: https://www.phdnet.mpg.de/home
Helmholtz: https://www.helmholtz.de/karriere/karriere-bei-helmholtz/promovierende/helmholtz-juniors/
Leibniz: https://leibniz-phd.net/
TUM: https://gc.gs.tum.de/
IPP: can be seen on the N2 website header here: https://www.phdnet.mpg.de/n2, color here can be similar to above, will not be used in comparisons

[2022-03-31 05:48] lheckmann opened #107 "Anxiety - change classification for "prefer not to answer""
Anna checked the Mental Health numbers with her calculations and it works very well.
Just one small point: For trait and state anxiety the "perfer not to answer" with scores 0 are also classified as "no or low anxiety", but should be "No Anwer" or so.

[2022-03-31 16:05] j-pietsch opened #108 "Running tests/test_lime_survey.py exits with FAILED"
## Description

Running tests/test_lime_survey.py results in failed tests!

## Reproduce
NOTE: I do not have any experience with tests.

1.) I pulled current main branch.
2.) Running tests/test_lime_survey.py directly does not work for me because of import error:
`from tests.common import (
    BaseTestLimeSurvey2021Case,
    BaseTestLimeSurvey2021WithResponsesCase,
)`
needs to be changed to
`from

[2022-04-04 06:00] Tianbe commented on #101
Question @lheckmann : Where / how should I put the colors in the code? I could for example create an aditional file "colors.py" in the plot folder and save the RGB/Hex values of the colors of the respective color schemes in a class ColorSchemes.

[2022-04-04 06:41] lheckmann commented on #101
Yes, that sounds good!

[2022-04-04 10:33] TheFlike commented on #108
So,
I ran the test on my branch, and first it gave out an error because it did not find the SurveyFramework/data folder in SurveyFramework/tests/
I copied it there and now all tests work at branch 18,
I will not keep it there, because the tests run normally if you make a pull request on github, and I don't know if I would break anything by copying the data folder.
I'll check on branch 88, now.

[2022-04-04 10:42] TheFlike commented on #108
There was an additional import `from n2survey.transformation import *` in survey.py of branch 088, which I never saw before, it was also never used. I removed it and the tests now run without error, just warnings. I'll push if it is all right with you.

[2022-04-04 10:51] j-pietsch commented on #108
Sorry for the confusion, I was interested in the current main branch.
I also renamed my branch to 96 (because of a naming mistake on my part), but the problem is already present at the main branch.
If there are not problems for you, then maybe I have done something wrong.

Did you directly run tests/test_lime_survey.py or is this the wrong way to do it?

[2022-04-04 10:54] TheFlike commented on #108
This only works if you copy the data folder into the tests subfolder, but normally you don't need that. If you are done with your issue, you just push to github, make a pull request and the tests then are automatically run.

[2022-04-04 10:57] TheFlike commented on #108
I also tested branch 96 right now and the tests don't give out errors, just warnings.

[2022-04-04 11:18] j-pietsch commented on #108
Thank you very much!
I will come back to you if I cannot figure out how to properly run them by myself ;)

[2022-04-04 11:56] lheckmann commented on #88
Yes, this we included in branch 088 because I told Alexandra to write her code in a new file transformation.py (where I would later on move the other transformation codes as well) to make survey.py less crowded.
But it should not affect the main branch right?

[2022-04-04 12:18] TheFlike commented on #88
Yep, I just ran the tests on branch 088 and then the tests give an error because n2survey.transformation does not exist,  I now understood that I should have run on branch 96, where the tests work as intended.
I'm writing with jpietsch now via mail to fix that case. We narrowed it down to either he does not have python V3.9 or he has the corrupted tests from a couple of months back (before simple-

[2022-04-04 12:48] TheFlike commented on #88
readded the line, one time git pull before the next git push and everything should work out on the branch as before

[2022-04-04 13:07] lheckmann commented on #88
Ah yes, that makes sense. Thank you for figuring it out :)

[2022-04-08 05:44] kaloeffler opened #111 "Mutiple choice question with single answer (e.g. question E1_SQ001)"
## Description
When calling get_responses with a multiple choice question that has a single answer such as E1_SQ001 the framework returns:
[code]

## Reproduce
Minimal version to reproduce:
[code]

## Expection
This should run without an error by replacing the following line of code (in survey.py method get_responses: line 391)

[code]

replacing with:
[code]

resolves the bug

## Screenshots

If

[2022-04-10 16:44] #96 closed

[2022-04-11 06:40] lheckmann commented on #107
Yes exactly!

[2022-04-11 10:18] lheckmann opened #113 "Move transformation function to a separate file"
Move all transformation function (Mental health, averages satisfactions,...) from survey.py to a transformation.py file to have a better overvew.

[2022-04-11 10:20] lheckmann opened #114 "Fill the wiki for plotting"
Please add explanation of how to use the plotting functionalities for your created plots here:
https://github.com/N2-Survey/SurveyFramework/wiki/Plotting

Simple plots:
- Multiple choice: Dawei
- Array: Katarina

Comparison plots: Felix

[2022-04-18 14:04] #111 closed

[2022-04-18 15:25] fudw opened #115 "Allow list of questions of the same transformation types"
## Description

As discussed in the previous PR #96 for rate_supervision transformation, it would be convenient to allow, instead of only single questions, a list of questions of the same transformation type to be provided as item in `transformation_questions` dict argument to `read_responses` method.

## Current workarounds
[code]
Currently, there is no distinction in terms of code between "forma

[2022-04-25 08:26] TheFlike commented on #76
This would be a plot for multiple-choice-multiple-choice question comparison
![multi_multi](https://user-images.githubusercontent.com/60603101/165049682-144bb59f-12c2-4868-9616-9721da62135b.png)
:

I think an additional bubble plot function (x-axis: answers to `question`, y-axis: answers to `compare_with` and bubbles at size of percentage around the crossing points)  would look better... maybe jus

[2022-04-25 08:54] lheckmann commented on #76
Looks very nice!

But yes, your ideas sounds also good. Since you already have the bar plot implementation, maybe we can offer both with a choosing option?

[2022-05-01 16:26] TheFlike commented on #76
Finished the bubbleplot, works now for Multiple-Multiple-choice:
[code]
-->
![multi_multi](https://user-images.githubusercontent.com/60603101/166155035-75143b39-a802-4b6a-a4bb-d170266655a1.png)

[code]
results in
![multi_multi_2](https://user-images.githubusercontent.com/60603101/166155044-57d408ea-da3e-4369-9305-21c965e77f11.png)

and multi-single-choice comparison works as well with bubbles:
[co

[2022-05-03 08:01] #103 closed

[2022-05-03 08:01] #115 closed

[2022-05-06 07:41] lheckmann commented on #76
How are the percentage for the bubble plots calulcated?

It seems e.g. like the bar plot for "How is your doctoral research currently financed" and the "I have personal reasons" shows different percentage as the bubble plot in your examples here? Or is that what you fixed now?

[2022-05-06 08:17] lheckmann commented on #107
Okay, I now discussed with Anna in detail for the Mental Health scores how to include the ones that missed some of the answers because either we completely loose them (which is a pity) or we actually have to adjust the weighting factor use.

We now decided to go for the second option, so:

include those with <= than half (e.g. <=3missing for D1  since we have 6 subquestions, <=4 missing for D2 sin

[2022-05-07 16:24] fudw commented on #113
Oops. Forgot to link it to the PR. Closing it now.

[2022-05-07 16:24] #113 closed

[2022-05-09 14:55] lheckmann commented on #76
I think what would be good for both bar and bubble plots (probably also the earlier comp plots):

Can we have the option (also as default) to display the counts per legend entry? so the reader of the figure can convert the percentage to counts immediately?

[2022-05-16 09:59] TheFlike commented on #76
The number next to the bubbles indicates bubblesize. Thought about calculating it, but to much effort, user can choose.
Yes, I can add the total count, but I'd make it a separate issue, since it is for all comparison plots. I can add it when I finished the other ones.

[2022-05-16 10:12] lheckmann commented on #76
Looks very nice then! I tried some of the features and it works well :)

Can you add a description to the wiki?

[2022-05-16 10:12] TheFlike commented on #76
will do

[2022-05-16 10:12] #76 closed

[2022-05-16 10:13] lheckmann commented on #114
@TheFlike add multiple-multiple including bubble option to the wiki

[2022-05-16 10:14] lheckmann opened #123 "Add total counts to comparison figures"
For comparison figures:

Can we have the option (also as default) to display the counts per legend entry? so the reader of the figure can convert the percentage to counts immediately?

[2022-05-27 06:00] Tianbe commented on #101
How many colors should actually be in the color scheme? maybe 5?

[2022-05-27 06:59] lheckmann commented on #101
You mean per color scheme?
I think there is an option with cmap or so that one can keep it flexible. So if the user chooses 3 it's 3 that have more contrast with each other, if it's 7 it's 7 but with less contrast since it is chosen from the same palette.

[2022-05-27 07:30] Tianbe commented on #101
Ok, because currently I just defined some custom colors for each organization, but the idea would be to take those few colors as a basis for a colormap with an arbitrary number of colors, like in this example code https://matplotlib.org/stable/gallery/color/custom_cmap.html

[2022-05-27 08:06] lheckmann commented on #101
Yes exactly!

[2022-05-27 08:08] Tianbe commented on #101
That makes sense, I will implement it accordingly =)

[2022-05-30 10:16] lheckmann opened #125 "Filter out No answer"
nan values are usually converted to "No Answer" or in Mental Health "No Answer" are also included, but all not included in the questions structure, therefore we cannot filter.

Can we include a filter to exclude all responses with "No Answer" to a certain question?

[2022-05-30 10:29] fudw commented on #125
Just ran a quick check, currently this can already be accomplished by using the existing filtering method like
[code]
which will return a filtered survey object without any of the "No Answer" entries. Would you prefer I add this to the wiki as an example, or add such functionality to the `survey.query()` method? Which way is more used in practice?

[2022-06-02 07:11] lheckmann commented on #125
Sorry for the late answer, I think the query method would be good, just to have it as an easy syntax.

[2022-06-03 11:49] Tianbe commented on #101
I pushed my code on a new branch: https://github.com/N2-Survey/SurveyFramework/tree/101-desgin_color_schemes
You can simply run the main function to obtain some examples. the color schemes of helmholtz and tum are relatively similar, but I could not find different colors on their website. Maybe those themes need to be adjusted. Also a documentation of the class is still missing, but I first wanted

[2022-06-06 21:13] #125 closed

[2022-06-06 21:21] lheckmann commented on #101
What are the names of the color schemes?

And I just use them with `s.theme["palette"] = name` right?

[2022-06-07 09:56] #92 closed

[2022-06-09 09:40] Tianbe commented on #101
@lheckmann sorry for the late reply. Currently the color schemes are saved as attributes of the `ColorSchemes` class. If you call `ColorSchemes(x)` you will obtain an instance of the `ColorSchemes` class and x is the number of colors in the respective colorschemes. `ColorSchemes(5).mps` for example give you an seaborn color palette with 5 colors (corresponding to the pallete of the MPS).
As you me

[2022-06-09 09:44] Tianbe commented on #101
![mps5](https://user-images.githubusercontent.com/42202773/172818085-88da791a-8997-4f74-9a87-3d84d13a2c9f.png)

[2022-06-09 09:46] Tianbe commented on #101
TUM
![tum](https://user-images.githubusercontent.com/42202773/172818548-d7464827-a231-4450-b0be-ae2bf3289364.png)

[2022-06-10 21:44] lheckmann commented on #101
Nice, they look good!

Two things:
1. To be able to import them you need to edit the __init__.py file in the plot folder and add a from `.color_schemes import *`
2. It's a not too convenient to have to define the number of colors in this step `s.theme["palette"] = ColorSchemes(5).mps` . Could you figure out a way to do a `s.theme["palette"] = ColorSchemes.mps` as it is done when using  `s.theme["p

[2022-06-12 15:00] #81 closed

[2022-06-13 07:06] Tianbe commented on #101
I will take care of the first point
...regarding the second point, it is possible to call `ColorSchemes().mps` which is equivalent to call `ColorSchemes(5).mps` as five is the default number of colors. I could implement it such that you can do `s.theme["palette"] = ColorSchemes.mps`, but then the number of colours would not be flexible any more. However one can also do:
`cs = ColorSchemes(5)
s.the

[2022-06-17 17:21] lheckmann commented on #101
Thanks!

And what about doing something like this for all:

`cmap = LinearSegmentedColormap.from_list('MPS', ColorSchemes(10).mps.as_hex())
plt.colormaps.register(name='MPS', cmap=cmap)
`
Then one can just call
`s.theme["palette"] = "MPS"`

[2022-06-20 17:14] lheckmann opened #128 "Setting rc titlesize does not work"
Using
`s.theme["rc"]["figure.titlesize"] `
does not seem to have an impact on the figures.

[2022-06-20 17:24] lheckmann commented on #101
And Anna (from Helmholtz) asked if the Helmholtz colors could transition into the green in their logo, should be hex #8fb827

[2022-06-28 06:37] lheckmann commented on #77
Nice, thank you!

Two things:
1. For the current version: would it maybe be more easy to see things when the color gradiant is in each bar for the likert scale and the hue (Woman, Men,...) is in different colors?

2. Can we also have a more "overview" way of showing thing. E.g. Summarizing the "satisfied" of "dissatisfied part" of the answers and then treating them the same way as for the multiple

[2022-06-28 14:08] fudw opened #129 "Problems in merged PR #124"
## Description

A number of problems existed in PR #124 that should have been fixed before being merged into main.

1. The imports of Dict and Tuple and subsequent replacements should have been reverted, as discussed yesterday.
2. There are a number of code blocks commented out but are not actually comments, e.g. Lines 862 - 863 and several more. Delete them if not needed and don't leave them in a

[2022-06-30 06:37] Tianbe commented on #101
sure, so from dark blue to green?

[2022-06-30 06:43] Tianbe commented on #101
I guess that would be also possible. The reason, why I liked to use the different color palettes as attributes like `cs.mps` is that the auto-fill function in most python editors will already suggest you the different attributes and you would not have to look up the names in a documentation. This also prevents typos. What do you think?

[2022-07-11 08:48] TheFlike commented on #77
The second point works now, I set standard `overview= True`:
[code]
creates now:
![array_single_ov](https://user-images.githubusercontent.com/60603101/178225305-d40c7ada-c373-4132-9488-34725985b155.png)

while

[code]
creates the more detailed version:

![array_single](https://user-images.githubusercontent.com/60603101/178225515-3306eeee-cd89-4b41-9cf2-de6ce3d0304a.png)

[2022-07-11 09:18] Tianbe commented on #101
![helmholtz3](https://user-images.githubusercontent.com/42202773/178231586-a36c647e-0490-4f2b-a7b1-7279daf07665.png)

[2022-07-11 09:22] lheckmann commented on #101
Sorry for the late response, too many things going on.

Looks really nice! :)

And for the cmap question:

the only problem is that we are setting the color scheme via the function `s.theme["palette"] = "name_palette"` and not in the plotting function itself. That's how the framework was designed. So that's why we kind of need a way to include it this way - maybe we can give both?

[2022-07-11 10:30] #129 closed

[2022-07-11 12:03] lheckmann opened #132 "Categorical PhD duration"
Add another column to the survey object when calculating the PhD duration using the categories: "<12 months", "13-24 months", "25-36 months", ">36 months".

[2022-07-12 06:59] lheckmann commented on #101
Here the organization names: https://github.com/N2-Survey/SurveyFramework/pull/130#issuecomment-1181390591

[2022-07-13 06:22] #88 closed

[2022-07-13 06:28] lheckmann opened #133 "Fill the wiki for data transformations"
Please update the wiki with the applied data transformations and how you did them.

missing:
- Phd duration
- satisfaction
- conversion to numeric

[2022-07-16 16:34] TheFlike commented on #77
Standard: all neutral choices are grouped (e.g. here: does not apply, neither/nor, I don't want to answer), always.
If all neutral choices except one are suppressed via entry in `suppress_answers`, instead of "all neutral choices" it tells the leftover choice (e.g "neither/nor).
`ignore_no_answer=True` is standard, if  `ignore_no_answer=False`  "No Answer" is counted as neutral choice.
`overview =

[2022-07-16 16:36] TheFlike commented on #77
I also calculated some random bars by hand and the result is the same as in the plot, so I am quite confident that the calculation works.

[2022-07-18 10:16] lheckmann commented on #77
First I'll state the bigger to do and later I'll check all of the smaller changes:

For the overview I did not mean using the same figure type but actually an easier one. Using the same one as for the single vs. multiple, where for the multiple you choose all "Yes" counts to calculate the bars. Now the idea would be to use all "positive" or all "negative" counts to calculate the bars. Does that ma

[2022-07-18 10:23] TheFlike commented on #77
Maybe I don't understand it, but the bottom picture I uses all positive choices and combines them to a single "positive" choice, the same for negative.

[2022-07-18 10:25] TheFlike commented on #77
Ooh, okay, so bar plots, with 3 Bars per comparison answer (positive negative and neutral)

[2022-07-18 10:27] lheckmann commented on #77
No, only one bar. We neglect the other two and the use can choose if they want positive or negative. So it looks the same as the multiple vs. single plots.

[2022-07-18 10:27] lheckmann commented on #77
And yes, the way you combine it is already fine :)

[2022-07-18 10:38] TheFlike commented on #77
Yes I can do that, so the pull request is not yet ready to merge.

[2022-07-18 14:15] lheckmann opened #136 "Update dummy data files to match duration questions"

[2022-07-18 17:25] j-pietsch opened #137 "Integrate `plot_numeric_comparison` into `plot`"
## Description
Currently numeric comparison plots are temporarily created with `s.plot_numeric_comparison` (see #127).
Integrating the functionality into `plot` function will add consistency and simplified use.

## Possible solutions

- [ ] Call `plot_numeric_comparison` from `plot`
- [ ] Add missing functionality from `plot` to `plot_numeric_comparison`
- [ ] Adjust naming of variables to keep co

[2022-07-19 09:54] #68 closed

[2022-07-19 09:54] lheckmann commented on #77
Perfect, thank you! Let me know, when I should have a look again

[2022-07-19 09:55] #19 closed

[2022-07-22 08:45] #101 closed

[2022-07-22 09:29] Tianbe opened #139 "Add documentation for colors chemes"
Write a short documentation how to apply the color schemes and add documentation to the respective code.

[2022-07-23 15:49] #136 closed

[2022-07-23 15:49] #132 closed